*.disabled
projects/ice40hx8k_breakout/async_rings/icecube2/.vdbs/*
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/netlist/oadb-breakout_trng_top/lib.defs
*.oa
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/netlist/oadb-breakout_trng_top/BFPGA_DESIGN_rt/breakout_trng_top/%I%N%T%E%R%F%A%C%E/master.tag
*.oalib
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/bitmap/breakout_trng_top_bitmap_glb.txt
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/breakout_trng_top_sbt.rpt
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/netlister/*
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/packer/*
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/placer/*
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/router/*
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/simulation_netlist/*
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/timer/*
projects/ice40hx8k_breakout*async_rings/icecube2/trng_Implmnt/sbt/Log/*
projects/ice40hx8k_breakout*async_rings/icecube2/trng_Implmnt/sbt/constraint/*
projects/ice40hx8k_breakout*async_rings/icecube2/trng_Implmnt/sbt/netlist/*
projects/ice40hx8k_breakout*async_rings/icecube2/trng_Implmnt/sbt/Temp/*
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/trng_lse.log
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/trng.lsedata
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/trng.edf
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/trng.scf
desktop.ini
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top.arearep
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_drc.log
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_lse.twr
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_gatelevel.v.ve
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_prim.v
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_temp_lse.sdc
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_prim.v.ve
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/netlist/oadb-breakout_trng_top/BFPGA_DESIGN_ep/breakout_trng_top/%I%N%T%E%R%F%A%C%E/master.tag
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/netlist/oadb-breakout_trng_top/BFPGA_DESIGN_rr/breakout_trng_top/%I%N%T%E%R%F%A%C%E/master.tag
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/netlist/oadb-breakout_trng_top/BFPGA_DESIGN_pk/breakout_trng_top/%I%N%T%E%R%F%A%C%E/master.tag
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/Temp/sbt_temp.sdc
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/Log/iceCube0.log
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_for_lpf.sdc
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/netlist/oadb-breakout_trng_top/BFPGA_DESIGN_pl/breakout_trng_top/%I%N%T%E%R%F%A%C%E/master.tag
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/Log/iceCube1.log
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/gui/trng_breakout_trng_top_timingviewer.cfg
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/outputs/gui/trng__timingviewer.cfg
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/trng_XXXXXOLD.edf
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/Log/iceCube2.log
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/trng_XXXXXOLD.scf
*.sh~
projects/icestick/doc/Thumbs.db
projects/icestick/application_notes_software/linux_tty/etc/udev/rules.d/98-kidekin.rules~
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/Log/iceCube4.log
projects/ice40hx8k_breakout/async_rings/icecube2/trng_Implmnt/sbt/Log/iceCube5.log
projects/ice40hx8k_breakout/async_rings/icecube2/breakout_trng_top_gatelevel.v
projects/ice40hx8k_breakout/async_rings/icecube2/xxx_lse_cp_file_list
projects/ice40hx8k_breakout/async_rings/icecube2/xxx_lse_sign_file
projects/icestick/hardware/icecube2/.vdbs/.dbStat.txt
projects/icestick/hardware/icecube2/.vdbs/dbStat.txt
*.vdb
projects/icestick/hardware/icecube2/icestick_trng_top.arearep
projects/icestick/hardware/icecube2/icestick_trng_top_gatelevel.v.ve
projects/icestick/hardware/icecube2/icestick_trng_top_prim.v.ve
projects/icestick/hardware/icecube2/icestick_trng_top_lse.twr
projects/icestick/hardware/icecube2/trng_Implmnt/sbt/Log/iceCube1.log
projects/icestick/hardware/icecube2/trng_Implmnt/sbt/outputs/simulation_netlist/icestick_trng_top_sbt_vital.sdf
projects/icestick/hardware/icecube2/trng_Implmnt/sbt/outputs/timer/icestick_trng_top_timing.rpt
projects/icestick/hardware/icecube2/trng_Implmnt/sbt/outputs/simulation_netlist/icestick_trng_top_sbt.vhd
projects/icestick/hardware/icecube2/trng_Implmnt/sbt/outputs/simulation_netlist/icestick_trng_top_sbt.v
src/ice40/icestick_trng_top_pll.v
src/ice40/icestick_trng_top_pll_inst.v
projects/icestick/hardware/icecube2/xxx_lse_sign_file
projects/icestick/hardware/icecube2/xxx_lse_cp_file_list
projects/icestick/hardware/icecube2/trng_Implmnt/trng_lse.log
projects/icestick/hardware/icecube2/trng_syn.prj
projects/icestick/hardware/icecube2/trng_Implmnt/trng.scf
projects/icestick/hardware/icecube2/trng_Implmnt/trng.edf
projects/icestick/hardware/icecube2/trng_Implmnt/trng.lsedata