# ##############################################################################

# iCEcube PCF

# Family & Device:    iCE40HX8K

# Package:            CT256

# ##############################################################################

#ble_pack T_14_18_logic_cluster_lc_7 {u_trng_top.trng.u0_rnd_src.stage0.LUT5_inst.u_0}
#ble_pack T_13_17_logic_cluster_lc_1 {u_trng_top.trng.u0_rnd_src.stage0.LUT5_inst.u_1}
#ble_pack T_13_14_logic_cluster_lc_3 {u_trng_top.trng.u0_rnd_src.stage0.LUT5_inst.i4_3_lut}
#ble_pack T_14_18_logic_cluster_lc_0 {u_trng_top.trng.u0_rnd_src.stage0.LUT5_inst.i4_3_lut_u_trng_top.trng.extractor.o_sampled_i0_REP_LUT4_0,u_trng_top.trng.extractor.o_sampled_i0}

``
set x0 10
set y0 10
set lc0 0
set nRings 4
set nStages 7
set init_input 1

for { set ring 0} {$ring<$nRings} {incr ring} {
	set x [expr $x0+$ring]
	for { set stage 0} {$stage<$nStages} {incr stage} {
		set y [expr $y0+$stage/2]
		set lc [expr ($stage & 1)*4]
``
ble_pack T_`$x`_`$y`_logic_cluster_lc_`$lc       ` {u_trng_top.trng.u`$ring`_rnd_src.stage`$stage`.LUT5_inst.u_0}
ble_pack T_`$x`_`$y`_logic_cluster_lc_`expr $lc+1` {u_trng_top.trng.u`$ring`_rnd_src.stage`$stage`.LUT5_inst.u_1}
ble_pack T_`$x`_`$y`_logic_cluster_lc_`expr $lc+2` {u_trng_top.trng.extractor.o_sampled_i`expr ($ring*$nStages)+$stage`}

#ble_pack T_`$x`_`$y`_logic_cluster_lc_`expr $lc+2` {u_trng_top.trng.u`$ring`_rnd_src.stage`$stage`.LUT5_inst.i4_3_lut}
#ble_pack T_`$x`_`$y`_logic_cluster_lc_`expr $lc+3` {u_trng_top.trng.u`$ring`_rnd_src.stage`$stage`.LUT5_inst.i4_3_lut_u_trng_top.trng.extractor.o_sampled_i`$stage`_REP_LUT4_0,u_trng_top.trng.extractor.o_sampled_i`expr ($ring*$nStages)+$stage`}
``  }
}``


#clb_pack T_11_23 {,,T_11_23_logic_cluster_lc_2,,,,,}
#set_location T_11_23 11 23
#clb_pack T_11_21 {,T_11_21_logic_cluster_lc_1,T_11_21_logic_cluster_lc_2,,T_11_21_logic_cluster_lc_4,T_11_21_logic_cluster_lc_5,T_11_21_logic_cluster_lc_6,T_11_21_logic_cluster_lc_7}
#set_location T_11_21 11 21

``
for { set ring 0} {$ring<$nRings} {incr ring} {
	set x [expr $x0+$ring]
	for { set stage 0} {$stage+1<$nStages} {incr stage 2} {
		set y [expr $y0+$stage/2]
``
#clb_pack T_`$x`_`$y` {T_`$x`_`$y`_logic_cluster_lc_0,T_`$x`_`$y`_logic_cluster_lc_1,T_`$x`_`$y`_logic_cluster_lc_2,T_`$x`_`$y`_logic_cluster_lc_3,T_`$x`_`$y`_logic_cluster_lc_4,T_`$x`_`$y`_logic_cluster_lc_5,T_`$x`_`$y`_logic_cluster_lc_6,T_`$x`_`$y`_logic_cluster_lc_7}
clb_pack T_`$x`_`$y` {T_`$x`_`$y`_logic_cluster_lc_0,T_`$x`_`$y`_logic_cluster_lc_1,T_`$x`_`$y`_logic_cluster_lc_2,T_`$x`_`$y`_logic_cluster_lc_4,T_`$x`_`$y`_logic_cluster_lc_5,T_`$x`_`$y`_logic_cluster_lc_6,,}
set_location T_`$x`_`$y` `$x` `$y`
``  }
	if {$nStages & 1} {
		incr y``
#clb_pack T_`$x`_`$y` {T_`$x`_`$y`_logic_cluster_lc_0,T_`$x`_`$y`_logic_cluster_lc_1,T_`$x`_`$y`_logic_cluster_lc_2,T_`$x`_`$y`_logic_cluster_lc_3,,,,}
clb_pack T_`$x`_`$y` {T_`$x`_`$y`_logic_cluster_lc_0,T_`$x`_`$y`_logic_cluster_lc_1,T_`$x`_`$y`_logic_cluster_lc_2,,,,,}
set_location T_`$x`_`$y` `$x` `$y`
``  }
}``

###MergeFF List 4
set_io_ff o_led[0] -out ON
set_io_ff o_led[1] -out ON
set_io_ff o_led[2] -out ON
set_io_ff o_led[3] -out ON

###IOSet List 8
set_io o_led[1] B4 -io_std SB_LVCMOS -pullup no
set_io o_led[3] A1 -io_std SB_LVCMOS -pullup no
set_io o_serial_data B12 -io_std SB_LVCMOS -pullup no
set_io CLK J3 -io_std SB_LVCMOS -pullup no
set_io i_serial_rts_n B13 -io_std SB_LVCMOS -pullup no
set_io o_led[0] B5 -io_std SB_LVCMOS -pullup no
set_io o_led[2] A2 -io_std SB_LVCMOS -pullup no
set_io o_led[4] C5 -io_std SB_LVCMOS -pullup no
