# ##############################################################################

# iCEcube PCF

# Version:            2012.09SP1.22498

# File Generated:     Jun 4 2013 11:19:40

# Family & Device:    iCE40HX1K

# Package:            TQ144

# ##############################################################################

###IOSet List 14
set_io CLK 21

#set_io o_led[0] 99
#set_io o_led[1] 98
#set_io o_led[2] 97
#set_io o_led[3] 96
#set_io o_led[4] 95

set_io i_serial_rts_n 7
set_io o_serial_data 8
#set_io i_serial_data 9

#J1 on icestick, bits in ascending pin number order on the connector
#from pin 3 to 10
#set_io o_spy_a[0] 112
#set_io o_spy_a[1] 113
#set_io o_spy_a[2] 114
#set_io o_spy_a[3] 115
#set_io o_spy_a[4] 116
#set_io o_spy_a[5] 117
#set_io o_spy_a[6] 118
#set_io o_spy_a[7] 119
#
##J2 on icestick, bits in ascending pin number order on the connector
##from pin 1 to 4 
#set_io o_spy_b[0] 78
#set_io o_spy_b[1] 79
#set_io o_spy_b[2] 80
#set_io o_spy_b[3] 81
##from 7 to 10
#set_io o_spy_b[4] 87
#set_io o_spy_b[5] 88
#set_io o_spy_b[6] 90
#set_io o_spy_b[7] 91
#
##J3 on icestick, bits in ascending pin number order on the connector
##from pin 3 to 10
#set_io o_spy_c[0] 62
#set_io o_spy_c[1] 61
#set_io o_spy_c[2] 60
#set_io o_spy_c[3] 56
#set_io o_spy_c[4] 48
#set_io o_spy_c[5] 47
#set_io o_spy_c[6] 45
#set_io o_spy_c[7] 44

set_io CLKOP 44

#set_io sd 107
#set_io to_ir 105
